  body{
    margin: 0%;
    padding: 0;
    background-color:#F6E1C3;
    min-width: 400px;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px;
    background-color:#A84448;
  }
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img{
    height: 80px;
    margin-right: 10px;
    align-items: center;
  }
  .logo h1{
    font-size: 24px;
    margin: 0;
  }
  nav li{
    display: flex;
    align-items: center;
  }
  nav a:hover{
    color: white;
  }
  nav ul{
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
}
  nav a{
    font-weight: 600;
    padding-right: 30px;
}
    a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

    .registro button{
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
}
button {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c06367,
  -6px -6px 12px #c06367;
 }
 
 button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #A84448 0%, #F6E1C3 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 9em;    
  }

    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: Arial;
        line-height: 1.4em;

    }
 
     h2{
      text-align: center;
     }
     .section{
     max-width: 1400px;
     margin-right: 40px;
     margin-left: 40px;
     margin-top: 15px;
     }
     .secciones{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      column-gap: 1rem;
      row-gap: 1rem;
     }
     .tarjeta{
      background-repeat: none;
      border-radius: 8px;
      height: 550px;
      display: flex;
      align-items: end;
     }
     .texto{
     justify-content: space-between;
      color: #F6E1C3;
      padding: 6px;
      background: linear-gradient(to top,
      rgb(0 0 0 / .5),rgb(0 0 0 / .5));
     }
     .masinfo a{
      padding: 5px;
      background-color:yellow;
      border-radius: 8px;
     }
     .tarjeta-titulo h2{
      margin-bottom: 20px;
     }
     .texto h3{
      text-align: center;
      color: yellow;
     }
     .texto p{
      margin-bottom: 15px;
     }
     #menus{
      margin-top: 50px;
      background-color: #A84448;;
     }
     .menusdeldia{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          column-gap: 1rem;
          row-gap: 1rem;
     }
     .titulomenu h3{
      text-align: center;
     }
     .menu1{
      background-color: rgb(169, 255, 169);
      margin: 20px;
      border: 1px black solid;
     }
     .menu1 h4{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
     }
     .textomenu1 h4{
      background-color: #A84448;;
     }

     #cocinero {
      position: relative;
      height: 500px; /* ajusta la altura a tu preferencia */
      overflow: hidden;
      
    }
    
    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/ensaladas.jpg');
      background-size: cover;
      background-position: center;
      opacity: 0.5; 
    }
    span{
      background-color: yellow;
      margin: 10px;
      border-radius: 5px;
    }
    .content {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%; 
      height: 100%;
      padding: 50px;
      color: rgb(7, 41, 7); 
    }
    
    .content h2 {
      font-size: 36px;
      margin-top: 0;
    }
    
    .content p {
      font-size: 18px;
    }
 iframe {
      width: 100%;
      max-width: 100%;
    }

     .videoo {
      position: relative;
      height: 120vh; 
   
    }
    .footer{
      width: 100%;
      background-color: #A84448;
  }
    .footer .footer1{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap:50px;
      padding: 45px 0px;
  }
    .footer .footer1 .box{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
    .footer .footer1 .box h2{
      color:  black;
      margin-bottom: 25px;
      margin-right: 25px;
      font-size: 20px;
  }
    .footer .footer1 .box p{
      text-align: center;
      margin-right: 10px;
      align-items: center;
      color: black;
      margin-bottom: 10px;
  }
    .footer .footer1 .red-social a{
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #A84448;
      margin-right: 10px;
      background-color: #A84448;
      text-align: center;
      transition: all 300ms ease;
      border-radius: 15px;
  }
    .footer .footer1 .red-social a:hover{
      background-color: rgb(80, 80, 235);
  }
.red-social a img {
      height: 16px;
      width: 16px;
    }
    li{
      list-style: none;
 }
    .mapas {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}

    #mapaa {
    width: 100%;
    max-width: 800px;
    height: 70vh;
    border: none;
}
    
     @media (max-width:800px) {
      header{
        flex-direction: column;
      }nav{
        padding-top: 20px;
        margin-left: 40px;
        
      }
      .logo{
        display: flex;
        align-items: center;
      
      }
      button{
        display: none;  
      }
      .secciones{
        grid-template-columns: repeat(1,1fr);
      }
      .menusdeldia{
        grid-template-columns: repeat(1,1fr);
      }
      .footer .footer1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
      .content h2 {
        font-size: 20px;
        margin-top: 0;
    }
    
      .content p {
        font-size: 15px;
        min-width: 199px;
    }
      #mapaa {
        width: 80%;
        max-width: 800px;
        height: 100vh;
        border: none;
    }

      
    }
    @media (min-width:700px) {
      .secciones{
        grid-template-columns: repeat(2,1fr);
      }
      .menusdeldia{
        grid-template-columns: repeat(2,1fr);
      }
      .content h2 {
        font-size: 36px;
        margin-top: 0;
      }
      
      .content p {
        font-size: 16px;
      }
      
    }
    @media (min-width:1000px) {
      .secciones{
        grid-template-columns: repeat(4,1fr);
      }
      .menusdeldia{
        grid-template-columns: repeat(3,1fr);
      }
      .content h2 {
        font-size: 36px;
        margin-top: 0;
      }
      
      .content p {
        font-size: 18px;
      }
      
    }
